{% extends "teamdata/base.html" %}
{% load static %}
{% block content %}
    <div id="team-id" style="display: none;">{{ teammisc.team_name.nba_stats_team_id }}</div>
    <h1>{{ teammisc.team_name.full_name }}</h1>
    <h1>Net Rating: {{ teammisc.net_rtg }}</h1>
    <h1>Morey Rate: {{ teamshooting.morey_rate }}</h1>

    <table id="team_shooting" class="table sortable table-nonfluid table-striped table-hover table-bordered table-responsive">
        <thead class="thead-light">
            <tr></tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>

        </tfoot>
    </table>
    <script src="{% static 'teamdata/teamPage.js' %}"></script>
{% endblock content %}